<%- include('../partials/header') %>
    <section id="show-page">
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>flight #: </div>
        <div><%= flight.flightNo %></div>
        <div>Departure: </div>
        <div><%= flight.departs %></div>
      </section>
      

      <br><br><h2>Destination</h2>
<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="submit" value="Add Destination">
</form>


    <table>
      <thead>
        <tr>
          <th>Destination</th>
          <th>Arrival Time</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Price</th>
          <th>Seat</th>
          <th>Flight</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(t) { %>
          <tr>
            <td><%= t.price %></td>
            <td><%= t.seat %></td>
            <td><%= t.flight %></td>
          </tr>
          
        <% }); %>
      </tbody>
    </table>
    <button><a href="/flights/<%= flight._id %>/tickets/new">Add tickets</a></button>
    <%- include('../partials/footer') %>